{{ > header }}
<table class="ui celled padded table">
  <tbody>
  	{{#items}}
    <tr>
      <td>
        <h3 class="ui center aligned header">{{nom}}</h3>
      </td>
      <td>
       <div class="ui star rating" data-rating="{{evaluation}}" data-max-rating="10"></div>
      </td>
      <td>
       <div class="ui center aligned header"><a href="items/inc/{{nom}}"><i class="plus circle icon"></i></a></div>
      </td>
      <td>
       <div class="ui center aligned header"><a href="items/dec/{{nom}}"><i class="minus circle icon"></i></a></div>
      </td>
      <td>
       <div class="ui center aligned header"><a href="items/delete/{{nom}}"><i class="ban icon"></i></a></div>
      </td>
     </tr>
     {{/items}}
  </tbody>
</table>
	<button class="positive ui button"><a href="items/new" style="color:white;">Ajouter un item</a></button>
	<script>
	$(document).ready(function(){
	    // All your normal JS code goes in here
	    $(".rating").rating('disable');
	});
	</script>
{{ > footer }}


